# Excel
~$*
*.tmp

# Python
__pycache__/
*.pyc
.venv/
venv/

# Databricks
.databricks/

# Windows
Thumbs.db
Desktop.ini

# Secrets
.env
*.env
# Anotações pessoais
ia/*.txt
sql/*.txt
ia/README.md

# Cópia antiga do site
WMS-Logistics-Analytics-site/